_main_width = 1200px


// header
.header
  position fixed
  top 0
  height 50px
  width 100%
  padding 0 10px 0
  box-sizing border-box


.header-inner
  max-width _main_width
  height 100%
  margin 0 auto
  box-sizing border-box

// content
.content
  @extend $clearfix

.content-inner
  margin 0 auto
  padding 39px 10px 0
  max-width _main_width


// footer
.footer
  height 300px

.footer-inner
  margin 0 auto
  max-width _main_width
