_main_width = 1200px

h2, h3
  color darken(#fff, 80)

h2, h3, p, ul, li, a
  font-family Josefin

p, ul
  font-size 18px
  font-weight 400
  color darken(#fff, 60)

a
  color _sky

// header
.header
  position fixed
  top 0
  height 50px
  width 100%
  padding 0 10px 0
  box-sizing border-box


.header-inner
  max-width _main_width
  height 100%
  margin 0 auto
  box-sizing border-box

// content
.content
  @extend $clearfix

.content-inner
  margin 0 auto
  padding 50px 10px 0
  max-width _main_width


h2
  font-size 40px
  margi 0
  padding 0

// footer
.footer
  height 300px

.footer-inner
  margin 0 auto
  max-width _main_width
