//header nav
_nav_color = #fff

.nav-main
  text-transform uppercase
  ul
    display block
    margin 8px 0 0
    padding 0

  li
    float left
    list-style none
    margin 0 10px
    font-size 14px
  a
    text-decoration none
    color _nav_color

.nav-inline
  float left

.nav-menu
  float left
  border-right 1px solid #fff
  padding-right 10px

.nav-social
  float right

  i
    vertical-align middle
    top -0.08em
    margin 0 5px
