//reset
h1, h2, h3, h4, h5, h6
pre, form, input, textarea
p, blockquote
ul, ol, li
  margin 0
  padding 0

html
  font-family sans-serif

body
  line-height 1.5

// Headings
h1, h2, h3, h4, h5, h6
  margin-bottom 24px
  font-weight bold

h1
  font-size 1.5em
  line-height 1
  color gray(75)

h2
  font-size 1.375em
  line-height 1.09090909
  color gray(70)

h3
  font-size 1.25em
  line-height 1.2
  color gray(70)

h4
  font-size 1.125em
  line-height 1.33333333

p, ul, ol
  font-size 1.125em
  line-height 1.33333333
  margin-bottom 24px
  color gray(65)

ul, ol
  margin-left 30px

h1 + p
  margin-top 26px

p + h2
ul + h2
ol + h2
  margin-top -1px
  margin-bottom 9px

a
  color gray(70)
