//- h1 zrobit, mi blog personal
header.header#header
  .header-inner
    ul.side-nav
    ul.side-nav
      li
        a.btn-menu(href="#") Más
          .icon-menu

    nav.main-nav
      ul
        li
          a(href="") Inicio
        li
          a(href="") Acerca de
        li
          a(href="") Lorem
        li
          a(href="") Proyectos
