header.header#header
  .header-inner
    nav.nav-main
      ul.nav-menu
        li
          a.btn-menu(href="#")
            i.icon-menu
            |más

      ul.nav-inline
        li
          a(href="") Posts
        li
          a(href="") Lorem
        li
          a(href="") Code

      ul.nav-social
        li
          a(href="https://twitter.com/zrobit")
            i.icon-twitter
            | Twitter
        li  
          a(href="https://github.com/zrobit")
            i.icon-github
            | Github
